/*  nav bar CSS  */
.navbar{
    background: #192A56 !important;
    width: 100%;  
	
}

.bg-light{
    background: #ffffff;
}
.top-navbar{
    color: #ffffff;
    width: 100%;
    background: #192A56;
    padding-top: 16px;
    padding-bottom: 16px;
}
/* .social-icon img{
   background: #ffffff;
  
}
.social-icon li{
    background: #ffffff;
    height: 23px;
    width: 23px;
 } */

.navbar-bg{
    background-color: #ffffff;
}

.background-banner{
    width: 100%;
}

.nav-link{
    font-weight: bold;
}

/* .navbar-1{
    padding-left: ;
} */
.social-icon {
    background-color: #ffffff;
    height: 45px;
    width: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.social:last-child{
    margin-right: 0px;
}

.social{
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.became-volunteer{
    font-size: 18px;
}
.social li a img{
    height: 18px;
   
}
.social  li a img{
    text-align: center;
}
.menu-bar{
    text-align: center;
}
/* ------------------------------ menu bar -------------------- */

/* div .relative {
    position: relative;
} */

div .absolute {
    position: absolute;
}

.btn-danger {
    color: #fff;
    background-color: #971723;
    border-color: #971723;
    margin-left: 8px;
}
div .HC4A-logo{
    top: -40px;
}
div .service-learn{
    position: absolute;
    top: 85px; 
    background: rgba(47, 47, 47, 0.6);
    box-shadow: 0px 0px 15px 5px rgba(255, 211, 42, 0.4);
    min-width: 764px;
    z-index: 1;
    padding: 0px 55px;
}
.service-learn p {
    font-weight: normal;
    font-size: 20px;
    padding: 34px 0px;
}
.service-heading{
    padding-top: 55px;
}

/* .register-btn{
    padding-bottom: 55px;
}  */
.nav-item{
    font-size: 12px;
}

/*  ----------------------- POMASONE ------------------ */ 
.pamasone{
   background-color: #ffffff;
   justify-content: center;
   text-align: center;
}
.button-1{
    background-color: #253F7F;
    height: 70px;
    border: none;
    padding: 15px 26px;
    min-width: 80px;
    font-weight: bold;
}
.button-2{
    background-color: #971723;
    height: 70px;
    border: none;
    padding: 15px 26px;
    min-width: 80px;
    font-weight: bold;
}
.button-3{
    background-color: #718093;
    height: 70px;
    border: none;
    padding: 15px 26px;
    min-width: 80px;
    font-weight: bold;
}
.pamasone p{
    font-size: 20px;
    padding: 45px 0px 15px 0px;
    font-weight: bold;
}
.pamasone-button{
    margin: 0px 0px 45px 0px;

}
button{
    padding: 10px;
}
.btn{
    margin: 16px;
}
/* ----------------------    about-section-1  ------ --- - - - - -    */

.about-section{
    background-color: #F1F1F1;
    padding-bottom: 40px;
}
.about-heading{
    color: #971723;
    font-weight: bold;
    text-align: center;
    padding-top: 18px;
}

.about-para{
    font-size: 22px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.school-img{
    background-repeat: no-repeat;
    text-align: right;
}
.how-HC4A{
    /* position: relative; */
    background: rgba(255, 255, 255, 0.6);
    box-shadow: -1px 2px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 692px;
    left: 0px;
    padding: 35px;
    top: 33px;
}
.school-img img {
    vertical-align: middle;
    border-style: none;
    width: 669px;
    height: 557px;
}

            /*     ------------------  about-student-section-2 ------------------ */

.about-student-section-1{
    padding: inherit;
}


.student-sub-sec-1 {
    padding: 34px 58px 34px 58px;
}

.student-learn-more-btn{
    margin-left: -13px;
}

/*     ------------------  about-student-section-sub-2 &&&&&&& about-student-section-sub-3  ------------------ */

.about-student-section-sub-2{
    background-color: #C4C4C4;
    text-align: center;
    justify-content: center;
}
.hands-logo {
    width: 100%;
    padding-top: 22px;
}
.about-student-section-sub-1{
    padding: 34px 58px 34px 58px;
}

.about-student-section-2{
    background-color: #253F7F;
}

/* ------------------ New Artical Section  ------------------ */

.cards{
    padding: 2px;
}

.news-artical{
    color: #253F7F;
    padding-top: 35px;
}
.news-artical-para{
    font-weight: bold;
}

.card{
    background: #F1F1F1;
}

.learn-more-card-btn a{
    background: #253F7F;
}

.card-para {
    padding-top: 12px;
    border-top-style: solid;
    border-top-color: #FFA801;
  }

.card-title {
    margin-bottom: 0.75rem;
    padding-bottom: 17px;
}
.student-view-more-btn{
    text-align: center;
}

/*  ================       scollarship-Donation =============  */

.scollarship-background{
    background: url("./logos/Rectangle\ 24.png");
    width: 100%;
    position: relative;
}
/* .scollarship-div{
    background: url("./logos/Rectangle\ 24.png");
    width: 100%;
    height: 100%;
} */

.scollar-ship-donate-btn{
    background-color: #487EB0;
    border: none;
    padding: 13px 45px;
}

.scollar-ship-donate-btn-div{
    padding-bottom: 40px;
}
.scollarship-head{
    padding-top: 54px;
}
.scollarship-para{
    padding-top: 20px;
}

/*  ================       award-section     =============  */
.award-head{
    color: #971723;
}
/* .award-main-card{
    width: 50px;
} */

.president-award{
    width: 100%;
}
.award-logo{
    margin: 21px;
    border: 1px solid #971723;
    padding: 18px;
    max-width: 166px;
    min-width: 122px;
}
/* .award-logo-div{
    margin: 19px;
} */
.card-background{
    background: #C4C4C4;
    padding: 16px;
}

.border-dark {
    border-color: #343a40!important;
    padding: 17px
}

.card-inner{
    padding: 1px 0px;
}

/* .sub-award-border {
    border: 1px solid #971723;
    height: 195px;
    padding-top: 12px;
    width: 204px;
} */
.award-section-2{
    margin-bottom: 2px;
}
.award-section-1{
    padding-bottom: 33px;
    padding-top: 93px;
}
.student-view-all-awards-btn{
    text-align: center;
    margin-top: 38px;
}
.award-head-div{
    margin: 57px 0px;
}



/*       //*******//*/                UP Coming Event             */

.Up-Coming-event-main-div{
    background: #F1F1F1;
}
.Up-Coming-event{
    margin-top: 52px;
    color: #971723;
    padding-top: 49px;
}
.Up-Coming-event-para{
    font-weight: bold;
}
.event-card{
    border-radius: 22px;
}
.event-para{
    margin: 25px 0px;
}
.event-time {
    height: 56px;
    background: rgba(0, 0, 0, 0.71);
    position: relative;
    margin-top: -57px;
    font-size: bold;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
    padding-top: 19px;
    padding-left: 30px;
}
button .up-coming-learn-more-btn{
    color: #253F7F;
}
.event-view-more-btn{
    text-align: center;
    padding: 36px 0px;
}
.online-card-btn{
    position: absolute;
    top: 0px;
    margin-left: 22px;
    background: #971723;
    border: none;
}
/*******       FOOTER    ******/
.footer{
    background:#C4C4C4;
}
.footer-img{
    padding-top: 50px;
    padding-bottom: 50px;
}
.list-li{
    font-weight: bold;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.list-left-border{
    border-left: 1px solid #971723;
    padding-left: 25px;
}
.list-left-border:first-child{
    border-left: none;
}
.fotter-para{
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding: 0px 230px;
}
.ul-list{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.fotter-para-div{
    border-top: 2px solid #971723;
    justify-content: center;
}


/*        ####### Custom CSS Media quary ######## */

/* 520px, 768px, 992px */ 

/*    ## for laptop view ## */ 
@media (max-width: 1024px){
    /*for banner */
    div .service-learn {
        position: absolute;
        top: 15px;
        right: 60px;
        background: rgba(47, 47, 47, 0.6);
        box-shadow: 0px 0px 15px 5px rgb(255 211 42 / 40%);
        min-width: 764px;
        z-index: 1;
        padding: 0px 55px;
    }
}

/*    ## for tablet view ##     */
@media (max-width: 992px) {
        /*  for banner section  */
    div .service-learn {
        position: absolute;
        top: 15px;
        left: 62px;
        background: rgba(47, 47, 47, 0.6);
        box-shadow: 0px 0px 15px 5px rgb(255 211 42 / 40%);
        min-width: 764px;
        z-index: 1;
        padding: 0px 55px;
    }
    /* for about HC4A */ 
    .school-img img {
        vertical-align: middle;
        border-style: none;
        width: 100%;
        height: 557px;
    }

    .how-HC4A {
        /* position: relative; */
        background: rgba(255, 255, 255, 0.6);
        box-shadow: -1px 2px 5px 2px rgb(0 0 0 / 10%);
        z-index: 1;
        width: 942px;
        left: 0px;
        padding: 35px;
        top: 42px;
        font-size: 22px;
    }
    
    .heading-about-hc4a{
        font-size: 25px;
    }
    .about-donate-btn{
        font-size: 22px;
    }
    /*  for award  */
    .award-logo {
        margin: 21px;
        border: 1px solid #971723;
        padding: 18px;
        max-width: 116px;
        min-width: 230px;
    }
}

/*             for width 768px         */ 
@media (max-width: 768px){
    /*     for banner    */
   div .service-learn {
       position: absolute;
       top: 34px;
       background: rgba(47, 47, 47, 0.6);
       box-shadow: 0px 0px 15px 5px rgb(255 211 42 / 40%);
       z-index: 1;
       padding: 0px 5px;
       min-width: 100%;
       left: 0;
       right: 0;
       padding: 0px 47px;
   }
   .service-learn p {
       font-weight: normal;
       font-size: 12px;
       padding: 0px 0px;
   }
   .service-heading{
       padding-top: 15px;
   }
   .register-btn{
       padding-bottom: 15px;
   } 

   /*   for about HC4A */

       .how-HC4A {
           /* position: relative; */
           background: rgba(255, 255, 255, 0.6);
           box-shadow: -1px 2px 5px 2px rgb(0 0 0 / 10%);
           z-index: 1;
           width: 717px;
           left: 0px;
           padding: 35px;
           top: 59px;
           font-size: 18px;
       }
   .school-img img {
       vertical-align: middle;
       border-style: none;
       width: 100%;
       height: 557px;
   }
   /*    #######    for Award ####### */
   .award-section-1 {
       padding-bottom: 33px;
       padding-top: 28px;
   }
   /*  ###      for support student banner-1    ### */
   .student-sub-sec-1 {
    padding: 23px 6px 3px 5px;
    font-size: 12px;
    }
    /*       for hands logo        */
    .hands-logo {
        width: 100%;
        padding-top: 41px;
        height: 407px;
    }
} 

/* for width 576px */

@media (max-width: 576px){
    /*     for banner    */
    div .service-learn {
       position: absolute;
       top: 2px;
       background: rgba(47, 47, 47, 0.6);
       box-shadow: 0px 0px 15px 5px rgb(255 211 42 / 40%);
       z-index: 1;
       padding: 0px 5px;
       min-width: 100%;
       left: 0;
       right: 0;
       padding: 0px 11px;
   }
   .background-banner {
       width: 100%;
       height: 206px;
   }
   .service-learn p {
       font-weight: normal;
       font-size: 11px;
       padding: 0px 0px;
       display: flex;
   }
   .service-heading{
       padding-top: 10px;
       font-size: 17px;
   }
   .register-btn {
       padding-bottom: 5px;
       font-size: 10px;
   }

    /*   for about HC4A */

    .how-HC4A {
       /* position: relative; */
       background: rgba(255, 255, 255, 0.6);
       box-shadow: -1px 2px 5px 2px rgb(0 0 0 / 10%);
       z-index: 1;
       width: auto;
       left: 0px;
       right: 0px;
       padding: 14px;
       top: 0px;
       font-size: 16px;
   }
   .school-img img {
       vertical-align: middle;
       border-style: none;
       width: 100%;
       height: 557px;
   }

   .about-para{
       font-size: 17px;
   }
   .heading-about-hc4a {
    font-size: 17px;
}
    .about-donate-btn{
        font-size: 15px;
    }

   /*  ################## For Award Section ########### */
   .award-section-1 {
       padding-bottom: 0px;
       padding-top: 17px;
       left: 12px;
   }
   .student-view-all-awards-btn {
       text-align: center;
       margin-top: 13px;
   }
   

   /*  #################  for Footer list #############*/
   .footer-img {
       padding-top: 31px;
       padding-bottom: 31px;
   }
   div .list-li{
       display: block;
       list-style-type: none;
       
   }
   ul.ul-list.list-unstyled.list-inline {
       display: block;
   }
   .list-left-border {
       border-left: none;
       padding-left: 25px;
   }
   .fotter-para {
       font-size: 18px;
       text-align: center;
       font-weight: normal;
       /* padding: 0px 230px; */
       display: contents;
   }
   .fotter-para-div{
       border-top: 2px solid #971723;
       margin-bottom: 20px;
   }
   /*   ########## hand logo in  Section 3 About Student  ########## */
   .hands-logo {
       width: 100%;
       padding-top: 0px;
   }

   /*   ################# pamasone ######## */
   .pamasone p {
       font-size: 14px;
       padding: 24px 0px 15px 0px;
       font-weight: bold;
   }
   .pamasone-button {
       margin: -30px 0px 0px 0px;
   }
   /* ################### Banner-section #### */
   .register-btn{
       padding-bottom: 7px;
       font-size: 12px;
   } 
   /* ##############  ABOUT SECTION for student  ####### */

   .student-sub-sec-1 {
       padding: 20px 13px 34px 19px;
   }

   /*      scollarship-head     */
   .scollar-ship-donate-btn-div {
       padding-bottom: 0px;
   }
   .scollarship-head {
       padding-top: 44px;
   }
   /*       for event    */
   .event-para {
       margin: 8px 0px;
   }
   .event-view-more-btn {
       text-align: center;
       padding: 0px 0px;
   }

}